// FOR LOADER
// .load-spin
// // .dropbefore::before
// {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;

//   background: no-repeat 50% rgba(255,255,255,0.5);// #f8f9fa
//   user-select: none;
//   // outline: none;
//   z-index: 1020;// 1053
//   cursor: wait;
// }
// // .full-wh{
// //   width:100%;
// //   height:100%;
// // }
// // .fix{
// //   position: fixed;
// //   top: 0;
// //   left: 0;
// //   right: 0;
// //   bottom: 0;
// //   margin: 0 auto;
// // }
// .svg-spin{
//   -webkit-animation: loads 2s linear infinite;
//   animation: loads 2s linear infinite;
//   z-index: 2;
// }
// // .spin-path
// .svg-spin circle{
//   // fill: none;
//   stroke-dasharray: 1,150;
//   stroke-dashoffset: 0;
//   // stroke: #25A7FA;
//   stroke-linecap: round;
//   -webkit-animation: dashLoad 1.5s ease-in-out infinite;
//   animation: dashLoad 1.5s ease-in-out infinite;
// }

// .load-spin:not(.withFill) circle{
//   fill: none;
// }

// .load-spin:not(.withStroke) circle{
//   stroke: #25A7FA;
// }

// @keyframes loads{
//   100%{transform:rotate(360deg);}
// }
// @-webkit-keyframes loads{
//   100%{-webkit-transform:rotate(360deg);}
// }
// @keyframes dashLoad{
//   0%{
//     stroke-dasharray: 1,150;
//     stroke-dashoffset: 0;
//   }
//   50%{
//     stroke-dasharray: 90,150;
//     stroke-dashoffset: -35;
//   }
//   100%{
//     stroke-dasharray: 90,150;
//     stroke-dashoffset: -124;
//   }
// }
// @-webkit-keyframes dashLoad{
//   0%{
//     stroke-dasharray: 1,150;
//     stroke-dashoffset: 0;
//   }
//   50%{
//     stroke-dasharray: 90,150;
//     stroke-dashoffset: -35;
//   }
//   100%{
//     stroke-dasharray: 90,150;
//     stroke-dashoffset: -124;
//   }
// }

// Loader downshift
// .i-load {
//   background: url("data:image/svg+xml,%3Csvg width='40' height='40' version='1.1' id='L9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Cpath fill='%2325A7FA' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50' transform='rotate(149.85 50 50)'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' dur='0.75s' from='0 50 50' to='360 50 50' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/path%3E%3C/svg%3E") no-repeat left center;
//   background-size: contain;
//   padding-left: 40px;
// }

// ==
// .bp3-spinner .bp3-spinner-track{
//   stroke: rgba(92,112,128,.2);
// }
// .bp3-spinner path{
//   fill-opacity: 0;
// }
// .bp3-spinner .bp3-spinner-head{
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   -webkit-transition: stroke-dashoffset .2s cubic-bezier(.4,1,.75,.9);
//   transition: stroke-dashoffset .2s cubic-bezier(.4,1,.75,.9);
//   stroke: rgba(92,112,128,.8);
//   stroke-linecap: square;// round
// }
// .bp3-spinner.bp3-intent-primary .bp3-spinner-head {
//   stroke: #137cbd;
// }

// === Loader Content ===
.holder {
	display: flex;
	flex-flow: row wrap;
	// position:static;
  overflow: hidden;
  // background-color:#fff;
  // background-image:linear-gradient(to right,rgba(0,0,0,.08) 0,rgba(0,0,0,.15) 15%,rgba(0,0,0,.08) 30%);
  // background-size:1200px 100%;
  // max-width:30rem;
  // animation:lightAnim 2s linear;
  // animation-iteration-count:infinite;
  cursor: progress;
}

/*
.holder.p,
.holder.h5 {
  height: 24px;
  // margin-bottom: .5rem;// 1rem | .5rem
}

// .holder.h1{
// 	height: 48px; // 2.5rem
// }
// .holder.h2{
// 	height: 38px; // 2rem
// }

.holder.h3{
	height: 33.33px; // 1.75rem
}

.holder.h4{
	height: 28.67px; // 1.5rem
}

// .holder.h5{
// 	height: 1.25rem;
// }

.holder.h6{
	height: 18.67px; // 1rem
}
*/

// OPTION: If not use render p in jsx
.holder.p {
  margin-bottom: .5rem;
}

.holder.p.card-text:last-child {
  margin-bottom: 0;
}

// TextLoader type forms:
// .holder.h1, 
.holder.form.lg {
	height: 48px;// calc(1.5em + 1rem + 2px)
}

// .holder.h2, 
.holder.form.md {
	height: 38px;// calc(1.5em + .75rem + 2px)
}

.holder.form.sm {
	height: 31px;// calc(1.5em + .5rem + 2px)
}

// .g-recaptcha:empty,
.holder.p::before,
.holder.h1::before,
.holder.h2::before,
.holder.h3::before,
.holder.h4::before,
.holder.h5::before,
.holder.h6::before,
.holder.thumb::before, 
.holder.form::before,
// .ava-loader::after,
.ava-loader, // ::before
.ava-loader:not(.ava)::before
{
	content: "\00a0"; // ""
  background: #fff linear-gradient(to right, rgba(0,0,0,.08) 0, rgba(0,0,0,.15) 15%, rgba(0,0,0,.08) 30%);
  background-size: 1200px 100%;
  animation: lightAnim 2s linear;
  animation-iteration-count: infinite;
}

// ???
// .thumb.holder.notFound div{
// 	//content:attr(title);
// 	// display:flex;
// 	// flex-direction: column;
// 	// align-items: center;
// 	// justify-content: center;
// 	position: absolute;
// 	top:0;
// 	right:0;
// 	bottom: 0;
// 	left:0;
// 	margin: 0 auto;
// 	color: var(--gray); // #6c757d
// 	z-index: 1;
// }

.ava-loader {
	content: none;
	overflow: hidden;
	cursor: progress;
}

// .ava-loader:not(.ava-frame){
// 	display: inline-block;
// 	width: 30px;
// 	height: 30px;
// 	border-radius: 50%;
// }

// .ava-loader::before {
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// }

// .ava-loader.circle{
// 	border-radius: 50%;
// }

// .ava-post::after,
.holder.p::before, 
.holder.form::before,
.holder.h1::before,
.holder.h2::before,
.holder.h3::before,
.holder.h4::before,
.holder.h5::before,
.holder.h6::before{
	// position: relative;
	width: 100%;// 150px
	height: 100%;// 15px
	// margin-left: 7px;
}

.thumb {
  display: block;
	position: relative;
	width: 100%;
	// overflow:hidden;
	background: 50% no-repeat #e3f2fd;
	background-size: cover;
}

.ava-loader:not(.ava)::before, 
.thumb::before {
  // content: "";
	display: block;
  padding-top: 56.25%;
  height: 100%;
	position: relative;
	z-index: 1;
}

// .img-err[aria-label]::before, 
.holder.thumb[aria-label]::before {
	content: attr(aria-label);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(56.25% / 2) 9px; // calc(56.25% / 2)
  // padding: 0;
  // height: 100%;
	color: #777;
}

// OPTION: Stop CSS animation if error img
// .ava[aria-label], 
// .holder.thumb.no-animate::before 
.holder.no-animate::before {
  // color: currentColor;
  // background-color: currentColor;
  animation: none;
}

// .set-size .thumb::before{
// 	padding: 0;
// 	width: 100%;
// 	height: 100%;
// }

// .media-post{
// 	position:relative;
// 	overflow:hidden;
// }
// .post {
// 	margin-bottom: 1.5rem;
// }

// .textMulti .holder.h6 + .h6{
// 	margin-top:.5rem;
// }

// .textMulti .holder.h6:nth-of-type(2){
// 	width: 85%;
// }
// .textMulti .holder.h6:nth-of-type(3){
// 	width: 70%;
// }

// .holder.subs::before{
// 	width:90px;
// }

// .post .card-body .ava-loader ~ .holder{
// 	margin-left: 9px;
// }

@-webkit-keyframes lightAnim {
	0%{
		background-position: -1200px 0;
	}
	100%{
		background-position: 1200px 0;
	}
}
@keyframes lightAnim {
	0%{
		background-position:-1200px 0;
	}
	100%{
		background-position:1200px 0;
	}
}
// === END Loader Content ===

