// 
.q-progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  // border-radius: .25rem;
}

.q-progress::before {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  width: var(--val);
  background-color: #007bff;
  transition: width .6s ease;
}

.q-progress[aria-label]::before {
  content: attr(aria-label);
}
.q-progress[aria-valuenow="0"]::before{
  content: none;
}

// == progress native ==
/*
.q-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem; // 3px
  border: none;
  margin: 0;
  color: #007bff; // #00d9bb
  background-color: #e9ecef; // #e6e6e6
  position: relative;
}

// .q-progress.animate{
//   position: relative;
// }

.q-progress[value]::-webkit-progress-bar {
  background-color: #e9ecef; // #e6e6e6
}

.q-progress[value]::-webkit-progress-value {
  background-color: #007bff; // #00d9bb
  transition: width .3s ease;
}

.q-progress[value]::-moz-progress-bar {
  background-color: #007bff; // #00d9bb
}

.q-progress[aria-label]::before 
// .progress-txt::before
{
  content: attr(aria-label);// // attr(aria-label) | attr(value)
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // line-height: normal;
  width: var(--val);
  // background-color:#007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  text-align: center;
  white-space: nowrap;
  transition: width .3s ease;// .6s | .4s
}
.q-progress[value="0"]::before{
  content: none;
}
*/

// progress[aria-label]::before 
// progress.animate::before{
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   // background: #fff;
//   // border-radius: 10px;
//   // opacity: 0;

//   // background: -webkit-gradient(linear,left top,right top,color-stop(25%,#f2f2f2),color-stop(37%,#e6e6e6),color-stop(63%,#f2f2f2));
//   // background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
//   // background-size: auto;
//   // background-size: 400% 100%;
//   // -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
//   // animation: ant-skeleton-loading 1.4s ease infinite;

//   // -webkit-animation: ant-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
//   // animation: ant-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
// }

// FROM antd
// @-webkit-keyframes ant-progress-active {
//   0% {
//     width: 0;
//     opacity: 0.1;
//   }
//   20% {
//     width: 0;
//     opacity: 0.5;
//   }
//   100% {
//     width: 100%;
//     opacity: 0;
//   }
// }

// @keyframes ant-progress-active {
//   0% {
//     width: 0;
//     opacity: 0.1;
//   }
//   20% {
//     width: 0;
//     opacity: 0.5;
//   }
//   100% {
//     width: 100%;
//     opacity: 0;
//   }
// }

// progress {
//   -webkit-appearance:none;
//   appearance:none;
//   width:100%;
//   // height:2.5px;// 3px
//   border:none;
//   margin:0;
//   color:#007bff;// #02d1a4
//   background-color:#e0e4e5;
//   height:1rem;
//   font-size:.75rem;
//   border-radius:5rem;
//   overflow:hidden;
//   position:relative;
// }
// progress[value]::-webkit-progress-bar {
//     background-color: #e0e4e5
// }
// progress[value]::-webkit-progress-value {
//     background-color:#007bff;// #02d1a4
// }
// progress[value]::-moz-progress-bar {
//     background-color:#007bff;// #02d1a4
// }

// FOR loader progress page
// #progressPage{
//   height: 2.5px;// 3px
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1050;
// }