// input[type="range"] native

// Custom input range:
// sliderContainer
.q-range {
  -webkit-appearance: none;
  // appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 5px; // calc((3px * 2) + 13px)
  // var(--slider-val)
  // linear-gradient(90deg, rgb(117,252,117) 60%, rgb(214,214,214) 60%)
  // #2fd3f4 | #00b3ff
  // rgba(233,236,239,.5) | rgb(214,214,214)
  background: linear-gradient(90deg, #2fd3f4 var(--slider-val), rgba(233,236,239,.5) var(--slider-val));
  outline: none;
  cursor: pointer;
  touch-action: manipulation;
}

.q-range::-webkit-slider-runnable-track {
  height: 5px;
  user-select: none;
}

.q-range::-moz-range-track {
  background: 0 0;
  border: 0;
  height: 5px;
  user-select: none;
}

.q-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px; // 40px
  height: 13px;
  margin-top: calc(((13px - 5px)/ 2) * -1);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); // #f8f9fa
  border-radius: 50%;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  // cursor: -webkit-grab;
  // cursor: grab; // pointer
}

.q-range.c-grab::-webkit-slider-thumb {
  cursor: -webkit-grab;
  cursor: grab; // pointer
}

.q-range::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  // border: none;
  border-color: rgba(0, 0, 0, 0.1); // #f8f9fa
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  // cursor: grab;
}

.q-range.c-grab::-moz-range-thumb {
  cursor: grab;
}

.q-range.c-grab:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.q-range:active::-webkit-slider-thumb {
  // cursor: -webkit-grabbing;
  // cursor: grabbing;
  // 0 0 0 0.2rem rgba(0,123,255,.5)
  box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
}

.q-range.c-grab:active::-webkit-slider-thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.q-range:active::-moz-range-thumb {
  // cursor: grabbing;
  // 0 0 0 0.2rem rgba(0,123,255,.5)
  box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
}

.q-range.c-grab:active::-moz-range-thumb {
  cursor: grabbing;
}

.q-range::-moz-range-progress {
  // background: currentColor;
  height: 5px;
}

