// https://github.com/primefaces/primereact/blob/master/src/components/splitter/Splitter.css
// <Resizer /> && <ResizePanel />
.p-splitter {
	display: flex;
	flex-wrap: nowrap;
}

.p-splitter-vertical {
	flex-direction: column;
}

.p-splitter-panel {
	flex-grow: 1;
}

.p-splitter-panel-nested {
	display: flex;
}

.p-splitter-panel .p-splitter {
	flex-grow: 1;
	// border: 0 none;
}

.p-splitter-gutter {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: col-resize;
}

.p-splitter-horizontal.p-splitter-resizing {
	cursor: col-resize;
	user-select: none;
}

.p-splitter-horizontal > .p-splitter-gutter > .p-splitter-gutter-handle {
	height: 24px;
	width: 100%;
}

.p-splitter-horizontal > .p-splitter-gutter {
	cursor: col-resize;
}

.p-splitter-vertical.p-splitter-resizing {
	cursor: row-resize;
	user-select: none;
}

.p-splitter-vertical > .p-splitter-gutter {
	cursor: row-resize;
}

.p-splitter-vertical > .p-splitter-gutter > .p-splitter-gutter-handle {
	width: 24px;
	height: 100%;
}

// Q-CUSTOM
// .p-splitter-gutter {
// 	position: relative;
// }

// Backdrop cursor
.p-splitter-gutter-resizing::after {
	content: "";
	position: fixed;
	inset: 0;
	z-index: 1021;
}