// <Select />
// .q-select {
//   position: relative;
// }

.q-select .q-option:not(.active):hover, 
.q-select .q-option.highlighted {
  color: #16181b;
  background-color: #cee6fd; // #bde4ff
}

.q-select-menu {
  max-height: 50vh;
}

