// Frameworks:
// saga-blue | bootstrap4-light-blue
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
// @import '~primeicons/primeicons.css';

@import '../core/etc/primereact-overwrite-add.scss';

// Layout:
@import '../core/layout.scss';

// Components:
@import '../core/components/icon-picker.scss';

// TOOLS:
// @import '../core/tools/svg-to-url.scss';

// LIBS : 
@import '../libs/react-draft-wysiwyg.scss';

// @import '';
$aside-width           : 220px !default;
$aside-min             : 50px !default;
$nav-height-top-sticky : 48px !default;

// Layout
// .layout{
//   display: grid;
//   // minmax(150px, 25%) 1fr
//   grid-template-columns: minmax(150px, 200px) 1fr;

//   // transition: grid-template-columns 0.2s ease-in-out;
// }

// .layout {
//   display: flex;
//   flex-direction: row;
// }

// .aside-min .layout {
//   grid-template-columns: 50px 1fr;
// }

// aside main:
#asideAdmin{
  display: flex;
  flex-direction: column;
  width: $aside-width; // 220px
  height: 100vh;
  position: fixed;// sticky | relative
  background-color: #fff;
  top: 0;
  z-index: 1020; // 5
  transition: width .2s ease-in-out;
  // OPTION
  // -webkit-tap-highlight-color: transparent;
}

// .layout > .pancake-stack,
// #asideAdmin{
//   transition: width 0.2s ease-in-out;
// }

.aside-min #asideAdmin{
  width: $aside-min;
}

.asidemain-menu-wrap {
  position: relative;
  height: calc(100vh - 144px);
}

// #asideAdmin > .list-group
.asidemain-menu-wrap .aside-menu-col {
  // height: calc(100vh - 144px); // 96px | 48px
  // top: 96px; // 48px
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// #asideAdmin > header, 
// #navAdmin {
//   background-color: #e3f2fd; // #e3f2fd | #83bdfb
// }

// NOTE: MUST Change in JSX className
#asideAdmin > header, 
#asideAdmin > label, 
.asidemain-foot, 
#navAdmin {
  height: $nav-height-top-sticky;
  flex: none;
}

.headText {
  width: calc(100% - 38px);// 108px
}

// #asideAdmin > label {
//   top: $nav-height-top-sticky;
// }

// .dd-menu-asidemain .dropdown-item, 
.menu-item {
  font-size: .85rem;
  color: var(--gray);
  text-align: left;
}

// .menu-dd > .menu-item {
//   position: sticky;
//   top: 0;
//   // z-index: 1000;
// }

// .menu-dd > .menu-item:not(:active):not(.active):not(:hover) {
//   background-color: #fff;
// }

.menu-item:not(:active):not(.active):hover {
  color: #212529;
}

// dropdown-item
// .aside-min #asideAdmin .menu-item 
.aside-min:not(.isMobile) .menu-dd > .menu-item, 
.aside-min:not(.isMobile) .aside-menu-col > .menu-item {
  padding-left: .5rem;
  padding-right: .5rem;
  // padding: .5rem;
  min-height: 36px; // OPTION
  font-size: 0;
  text-align: center;
}

.aside-min:not(.isMobile) .menu-dd > .menu-item:before, 
// .aside-min #asideAdmin .menu-item:before
.aside-min:not(.isMobile) .aside-menu-col > .menu-item:before {
  font-size: .85rem; // 1rem
  margin-right: 0;
  line-height: 1.5;
}

.dd-toggle-menu {
  position: relative;
}
.dd-toggle-menu:after {
  content: "\e955"; // e954 | f054
  position: absolute;
  top: 8px;
  right: 9px;
}

// .menu-dd > .dd-toggle-menu:after{
//   color: var(--gray);
// }

.show > .dd-toggle-menu:after {
  content: "\e956"; // e955 | f078
}

.aside-min:not(.isMobile) .menu-dd .dd-toggle-menu:after {
  content: none;
}

// Dropdown menu aside
body:not(.aside-min) .menu-dd .dropdown-menu,
body.isMobile .menu-dd .dropdown-menu {
  position: relative !important;
  transform: none !important;
  background-color: #eee;
  box-shadow: none !important;
  width: 100%;
  border-width: 0;
  border-radius: 0;
}

body:not(.aside-min) .menu-dd .dropdown-menu::before, 
body.isMobile .menu-dd .dropdown-menu::before
// body:not(.aside-min) .menu-dd.show::before, 
// body.isMobile .menu-dd.show::before 
{
  content: "\e96c"; // e96b | f0d8
  font-size: 24px;
  color: #eee;
  position: absolute;
  top: -15px; // -15px | 23px
  right: 9px;
  // z-index: 1001;
  pointer-events: none;
}

// .aside-min .btnAsideMainToggle:before{
//   content: "\f324";
// }

// .aside-min .asideFindMenu input{
//   display: none;
// }

// .asidemain-foot {
//   position: sticky; // absolute
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.aside-min:not(.isMobile) .dd-menu-asidemain {
  background-clip: inherit;
  max-height: 50vh;
  // overflow-y: auto;
}

// NEW Admin Layout:
.wrap-app {
  transition: margin-left .2s ease-in-out, width .2s ease-in-out;
  // margin-left: $aside-width;
  // width: calc(100% - #{$aside-width});
  // OPTION
  -webkit-tap-highlight-color: transparent;
}

.wrap-app main {
  flex: auto;
  // position: relative;
}

.wrap-app, 
.w-wrap-app {
  margin-left: $aside-width;
  width: calc(100% - #{$aside-width});
}

// .aside-min .wrap-app, 
// .w-wrap-app.wrap-app-min {
//   width: calc(100% - #{$aside-min});
// }

.aside-min .wrap-app, 
.w-wrap-app-min {
  margin-left: $aside-min;
  width: calc(100% - #{$aside-min});
}

body:not(.aside-min) #asideAdmin header .navbar-brand {
  width: 100%;
}

// END NEW Admin Layout:
// .aside-min .btnToggleAsideMain:before {
//   content: "\F324";
// }

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-button {
//   background-color: #ddd;
// }

// ::-webkit-scrollbar-track {
//   background-color: #efefef;
// }

// ::-webkit-scrollbar-track-piece {
//   background-color: #eee;
// }

// ::-webkit-scrollbar-thumb {
//   height: 50px;
//   background-color: #ccc;
//   border-radius: 3px;
// }

// ::-webkit-scrollbar-corner {
//   background-color: #fff;
// }

// Files.js / <Files />
.dropzone.active::after, 
.dropzone.empty::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.dropzone.active::after {
  content: "Drop Here";
  color: var(--blue);
  border: 3px dashed var(--blue);
  background-color: rgba(38,143,255,.2);
}
.dropzone.empty::after {
  content: "Drop File Here";
  opacity: .5;
}

// Caption Style Dropdown toggle
.color-pick-val {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: sub;
}

// Responsive Admin:
@media (max-width: 767px){
  // .btnToggleAsideMain:before {
  //   content: "\F324";
  // }

  .wrap-app,
  .aside-min .wrap-app {
    margin-left: 0;
    width: 100%;
  }
  
  .wrap-app {
    transition: none;
  }
}

// MOVE TO COMPONENT
// <ScrollTo />
.q-scrollto {
  position: relative;
}

// AppDesigner
.ad-el:hover, 
// .ad-el:active, 
.ad-el:focus, 
.ad-el:focus-within, // OPTION
.ad-el.active {
  position: relative;
}

.ad-el:hover::after, 
// .ad-el:active::after, 
.ad-el:focus::after, 
.ad-el:focus-within::after, // OPTION
.ad-el.active::after {
  content: " ";
  border: 1px dashed var(--primary);// #2680eb
  width: 100%;
  height: 100%;
  position: absolute;
  // left: 0;
  // top: 0;
  inset: 0;
  pointer-events: none;
  display: block;
}

.ad-tool {
  position: absolute;
  top: -100%;
  left: 0;
  margin-top: -6px;
  z-index: 1021;
}

.ad-el:not(:hover):not(:focus):not(:focus-within) .ad-tool {
  display: none;
}

// .ad-el:focus {

// }

// DEV Dnd
// .isDrag:after {
//   content: "";
//   position: fixed;
//   inset: 0;
//   z-index: 1051;
//   width: 100%;
//   height: 100%;
//   cursor: grabbing;
// }

// [draggable="true"]:active, 
// .isDrag {
//   cursor: grabbing !important;
// }

// .isOver {
//   background-color: var(--primary);
//   color: #fff;
// }

// react-json-view
// .object-key-val:not(:hover) .object-meta-data {
//   display: none !important;
// }

// DEVS: 
// <Documentation />
.isDir:not(.qi-folder-open) + .q-stree-child {
  display: none;
}

// Finansys Flow :
.table-style .resizerTbstyle {
  width: 9px; 
  right: -4.5px;
  border: 1.5px dashed transparent;
  user-select: none;
}

// active
.table-style .resizerTbstyle.canDrop {
  border-color: var(--primary);
}

.table-style .tcol, 
.table-style .tcol > [draggable="true"] {
  background-color: #fff;
}

// .thead-label 
.table-style .thead {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
}

// :not(.tcol-empty)
.table-style .tcol:not(.tcol-empty):hover, 
.table-style .tcol > [draggable="true"]:hover {
  background-color: var(--light);
}

.table-style .tcol:not(.tcol-empty):hover .thead {
  border-color: var(--primary) !important; // #333
  // border-style: dashed !important;
  // border-color: transparent !important;
  box-shadow: inset 0 0 0 0.1rem rgba(38, 143, 255, 0.5);
}

.table-style .tcol > .isDragging {
  opacity: 1 !important;
}

// .table-style .tcol-add {
//   right: -1px; // 0
// }

.table-style .resizerTbstyle:hover {
  // background-color: rgba(0,0,0, .2);
  background-color: rgba(38,143,255,.2);
}

.table-style .resizerTbstyle.active, 
.table-style .resizerTbstyle:active {
  // background-color: rgba(0,0,0, .3);
  background-color: rgba(38,143,255,.4);
}

.table-style .thead:not(.thead-add) {
  min-width: 73px;
}

.table-style .thead-add {
  width: 55px;
  height: 33px;// 32.5px | 44px | 42px
}

// react-draggable when resize: 
.react-draggable-dragging {
  z-index: 1051;
}
.react-draggable-dragging:after {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  // background-color: rgba(0,0,0,.2);
  // z-index: 1051;
}

//  .thead-label
// .table-style .thead:hover {
//   padding-right: 30px;// 1rem
// }

// .btnRemoveTcol {
//   position: absolute;
//   right: 0;
// }

// .table-style .thead:not(:focus-within) .btnRemoveTcol, 
.table-style .thead:not(:hover) .btnRemoveTcol {
  display: none;
}

.table-style .tcol-add:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 1px;
  // height: 100%;
  background: #fff;
  pointer-events: none;
}

// <FormDesigner />
.FormDesignerRulerDev:after {
  content: "";
  position: absolute;
  inset: 0;
  margin: 0 auto;
  width: 1px;
  height: 100%;
  background-color: red;
}

.form-designer .fd-handle {
  padding: 2px;
  position: relative;
  user-select: none;

}

