// List Icons
// -------------------------

.#{$fa-css-prefix}-ul {
  list-style-type: none;
  margin-left: $fa-li-width * 5/4;
  padding-left: 0;

  > li { position: relative; }
}

// Q-CUSTOM
// .#{$fa-css-prefix}-li
.#{$fa-css-prefix}-li:before {
  left: -$fa-li-width;
  position: absolute;
  text-align: center;
  width: $fa-li-width;
  line-height: inherit;
}
