/*!
 * Q-UI v1.0.0 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/

// CUSTOM var
$main-color: #e3f2fd !default; // #e3f2fd | #83bdfb

// @import '~react-colorful/dist/index.css';

// Frameworks:
// @import '~primereact/resources/themes/saga-blue/theme.css';
// @import '~primereact/resources/primereact.css';

// @import 'frameworks/primereact/primereact-core.scss';
// @import 'frameworks/primereact/primereact.scss';

@import 'frameworks/bootstrap/bootstrap.scss'; // bootstrap-5.0.2
@import 'core/etc/bootstrap-overwrite-add.scss';

// Core main style:
@import 'core/etc/main-style.scss';

// Components:
@import 'core/components/loader.scss';
@import 'core/components/img.scss';
@import 'core/components/ava.scss';
// @import 'core/components/q-input.scss';// DEVS
// @import 'core/components/details.scss';
// @import 'core/components/browser.scss';

// Part of PlayerQ :
@import 'core/components/progress.scss';
@import 'core/components/q-range.scss';

// @import 'core/components/icon-picker.scss';

// https://github.com/primefaces
// @import 'core/components/inputNumber.scss';// <InputNumber />
// @import 'core/components/toast.scss';
// @import 'core/components/resizer.scss';// <Resizer /> && <ResizePanel />

// Devs Components:
// @import 'core/components/react-split-pane.scss';
@import 'libs/swal2-bootstrap-4.scss';
// @import '~rc-tree/assets/index.css';
// @import 'libs/rc-tree/index.scss';

@import 'core/components/parts/page-loader.scss';
@import 'core/components/select.scss';
@import 'core/components/player-q.scss';
// END Components

// // Layout:
// @import 'core/layout.scss';

// FONTS:
// @import 'fonts/q-icon/style.css';
// @import 'fonts/fontawesome-pro/scss/fontawesome.scss';
// @import 'fonts/fontawesome-pro/scss/light.scss';
// @import 'fonts/fontawesome-pro/scss/solid.scss';
// @import 'fonts/fontawesome-pro/scss/regular.scss';
// @import 'fonts/fontawesome-pro/scss/brands.scss';

@import 'fonts/Qicon-extends.scss';

// APPS:
// @import 'apps/repl.scss';

// TOOLS:
// @import 'core/tools/svg-to-url.scss';

// HELPER:
@import 'core/etc/tip.scss';
@import 'core/etc/helper.scss';

// RESPONSIVE:
@import 'responsive/desktop-or-large.scss';
@import 'responsive/tablet-landscape.scss';
@import 'responsive/tablet-portrait.scss';
@import 'responsive/smartphone-landscape-portrait.scss';
@import 'responsive/smartphone-portrait.scss';



