// Front App : 
// @import 'libs/slick/slick.scss';

// .dropdown-menu.dd-animate{
//   display: block !important;
//   transform-origin: top;
//   animation-fill-mode: forwards;
//   transform: scaleY(0);
//   pointer-events: none;
//   opacity: 0;
//   transition: opacity linear .2s, transform ease-in-out .15s;
// }
// .dropdown-menu.dd-animate.show{
//   opacity: 1;
//   pointer-events: auto;
//   transform: scaleY(1);
// }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body > * {
  flex: none;
}
body main {
  flex: 1;
}

.dd-hover > .dropdown-menu {
  // display: block;//  !important
  margin-top: -1px;
  transform-origin: top;
  animation-fill-mode: forwards;
  // transition: opacity linear .2s, transform ease-in-out .15s;
  opacity: 0;
  transform: scaleY(0);
  pointer-events: none;
  transition: opacity linear .2s, transform ease-in-out .15s;
}

.dd-hover:hover > .nav-link {
  color: #16181b;
  background-color: #cee6fd;
}

.dd-hover:hover > .dropdown-menu {
  // display: block;
  // transition: opacity linear .2s, transform ease-in-out .15s;

  pointer-events: auto;
  opacity: 1;
  transform: scaleY(1);
}

// Mega Menu : 
.mega-menu {
  width: 1140px; // calc(100vw - 4rem)
  // min-width: 200px;
  // width: 50vw;// 75vw
  overflow: hidden auto;
  // background-clip: border-box;
}

.menu-parent {
  position: sticky;// relative
  top: 0;
}

// .menu-parent.dropright.qia:after
.menu-parent.qia:after {
  position: absolute;
  right: 10px;
}

// .menu-parent.dropright > .dropdown-menu {
//   // background-clip: border-box;
//   margin-left: 0;
//   // max-height: 50vh;
// }

// .nav-link.qi.active
// .mega-menu .nav-pills .nav-link.active {
//   color: #fff;
//   z-index: 2;
// }

#btnWaMe,
#btnBack2Top {
  right: 9px;
  width: 38px;
}

// #admBtn, 
#btnWaMe {
  bottom: 9px;
}

#btnBack2Top {
  bottom: 50px;
}

// #admBtn {
//   left: 9px;
// }
// #admBtn .btn {
//   width: 40px;
//   height: 40px;
// }

// lightslider.js
.cs-hide {
  // height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.lSSlideOuter .lSPager.lSGallery {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.lSGallery > li > a {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: var(--dark);
  -webkit-user-drag: none;
  position: relative;
}

.lSGallery > li > a::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.lSGallery > li > a img {
  -webkit-user-drag: none;
}

// .lSSlideOuter .lSPager.lSGallery li.active a {
//   box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)
// }

// lighGallery
// .lg-backdrop.in {
//   opacity: .7;
// }

// .lg-image {
//   // pointer-events: none;
//   user-select: none;
// }

// .lg-img-wrap::after {
//   content: "";
//   position: absolute;
//   inset: 0;
//   z-index: 1;
//   cursor: -webkit-grab;
//   cursor: grab;
// }
// .lg-grabbing .lg-img-wrap::after {
//   pointer-events: none;
// }



// Product Detail
.product-desc ul, 
.product-desc ol {
  padding-left: 1rem;
}

.nav-link.text-warning.active-state.active {
  background-color: #fbf1d6;// #fbf0d1
}

// https://getbootstrap.com/docs/5.0/examples/offcanvas/
.offcanvas-collapse {
  position: fixed;
  top: 0;// 56px
  bottom: 0;
  left: 100%;
  width: 100%;
  // padding-right: 1rem;
  // padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  // background-color: #343a40;
  background-color: #fff;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
}

#offcanvasMain .navMoveSmall {
  display: block;
}
#offcanvasMain .navMoveSmall.w-50 {
  width: 100% !important;
}
#offcanvasMain .navMoveSmall + .navMoveSmall,
#offcanvasMain .form-inline > * + * {
  margin-top: 1rem;
}




