// ====== Main style ======
// FROM: Tailwind CSS
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body{
	-webkit-tap-highlight-color: transparent;
}

// OPTION: FROM Facebook
body {
  unicode-bidi: embed;
  // overflow-y: scroll;
  overscroll-behavior-y: none;
}

// [tabindex="0"],
// [tabindex="-1"]
*:focus {
  outline: none !important;
}

// :not(.SplitPane)
// :disabled,
// *:not(button).disabled 
[tabindex]:not(button).disabled { 
  pointer-events: none;
}

// a.disabled{
//   pointer-events: none;
// }

// OPTION: 
// .btn[disabled] {
//   cursor: not-allowed;
// }

input::-webkit-calendar-picker-indicator {
  display: none;
}

// OPTION
::-webkit-file-upload-button {
  cursor: pointer;
}

// OPTION: webkit button x
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
input[type="search"]:not(:placeholder-shown)::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: auto;
}

// input[type=time] without AM PM
// .no-ampm::-webkit-datetime-edit-ampm-field {
//   display: none;
// }
// input[type=time].no-ampm::-webkit-clear-button {
//   appearance: none;
// }

[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  cursor: pointer;
  // transform: scaleX(1.2);
}

// input[type=number] without arrow
.no-arrow[type=number]::-webkit-inner-spin-button, 
.no-arrow[type=number]::-webkit-outer-spin-button {
  display: none;
}

// [role="treeitem"], 
// summary {
//   cursor: pointer;
// }

// #root {
//   width: 100%;
// }

// @media (min-width: 768px){
// 	#navMain {
//     padding-top:0;
//     padding-bottom:0;
// 	  height: 45px;
// 	}
// }

// summary::-webkit-details-marker{
//   display: none;
// }

// === Img ===
// FOR img wrapper with div & ::after (to prevent contextmenu save as image)
// .img-frame{
//   position: relative;
// }

// .img-frame::before{
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1;
// }

// .img-frame,// OPTION
// .img-frame img {
//   user-select: none;
// }

// .img-frame img + *{
//   position: relative;
//   z-index: 2;
// }
// === END Img ===

// === TableQ ===
// .headfix{
// 	position: relative;
// }

// .thead-q{
// 	// border-collapse: collapse;
// 	display: flex;
// 	flex-direction: row;
// 	border: 1px solid #dee2e6;
// 	// border-width: 0 1px;
// 	position: sticky;
// 	top: 0;
// 	background-color: #fff;
// 	z-index: 1;
// }

// .headfix thead{
// 	opacity: 0;
// }
// .headfix thead > tr{
// 	visibility: collapse;
// }

// .thead-q > div{
// 	padding: 0.25rem;
// 	position: relative;
// 	// border: solid #dee2e6;
// 	// border-width: 1px 0 0 1px;
// }
// .thead-q > div:first-child{
// 	border-left:0;
// }

// .thead-q > div:last-child{
// 	border-right-width: 1px;
// }
// .table-bordered th, .table-bordered td {
//   border: 1px solid #dee2e6;
// }

// .tb-bordered .thead-q > div:not(:last-child):before {
//   content: "";
//   width: 1px;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 1;
//   background-color: #dee2e6;
// }

// === ObjectCrud ===
// .q-css-devtools
// .obj-crud{
//   background-color: #222;
//   color: #eee;
//   // padding: .5rem .75rem;
// }

// .obj-sets{
//   padding: .5rem .75rem;// .2rem .75rem
//   border-bottom: 1px solid #aaa;
//   position: relative;
// }

// .btnCopyObjSet{
//   position: absolute;
//   top: .1rem;
//   right: .1rem; // .75rem
// }

// // selector-name
// .selector-name{
//   margin-bottom:0;
//   font-size: .82rem;
//   color:#eee;
//   // overflow: hidden; // visible
//   // white-space: pre;
//   line-height: 1.35; // normal
//   // letter-spacing: .025rem;

//   // overscroll-behavior: contain;
//   // scrollbar-width: thin;
//   // scrollbar-color: #aaa transparent;
// }
// // .obj-kid .selector-name{
// //   font-size: .8rem;
// // }
// .obj-kid{
//   margin-left: 1rem;
// }

// // .obj-props{
// //   margin-left: 1rem;
// //   padding-bottom: .5rem;
// // }
// // .obj-props:after{
// //   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// //   content: "}";
// //   font-size: .85rem;
// //   display: block;
// //   position: relative;
// //   left: -16px;
// //   line-height: 1;
// // }
// .obj-props code{
//   font-size: .82rem;
//   color:#fff;
//   display: block;
//   line-height: 1.35;
// }

// // .obj-props > code{
// //   position: relative;
// //   left: -16px;
// // }

// .propval-item{
//   line-height: 1.35;
// }

// // OPTION
// .propval-item + .propval-item{
//   margin-top: -4px;
// }

// .propval-item input[type=checkbox]{
// 	position: relative;
//   top: 2px;
//   align-self: baseline;
// }

// .propval-item input[type=checkbox]:not(:checked) ~ *{
//   text-decoration: line-through #fff;
//   // pointer-events: none;
// }

// // .obj-sets .propval-item:focus-within input[type=checkbox]
// .obj-sets:not(:hover) .btnCopyObjSet,
// .obj-sets:not(:hover) input[type=checkbox]:checked{
//   opacity:0;
// }

// .obj-input{
//   padding:0 .2rem;
//   font-size: .85rem;
//   letter-spacing: .025rem;
//   // line-height: 1.35;
//   border:1px solid transparent;
//   margin:0 2px;
//   min-height: 24px;
// }
// .obj-input:not(:focus),
// .propval-item input[type=checkbox]:not(:checked) ~ .obj-input{
//   -moz-user-modify: read-only;
//   -webkit-user-modify: read-only;
// }

// // .obj-input:focus
// .propval-item input[type=checkbox]:checked ~ .obj-input:focus{
//   outline:0;
//   border-color:#007bff;
// }
// .prop-name{
//   // position:relative;
//   align-self: baseline;
// }
// // .prop-name:after{
// //   content:':';
// //   color:#fff;
// //   // margin-left: 2px;
// //   position: absolute;
// //   right: -4px;
// // }

// .prop-name:not(:focus),
// .propval-item input[type=checkbox]:not(:checked) ~ .prop-name:focus{
//   color: #28b9e8;
// }
// // .propval-item input[type=checkbox]:not(:checked) ~ .prop-name:not(:focus){

// // }
// // .prop-val{
// //   // padding-right:.6rem;
// //   min-height: 22px;
// // }
// .prop-val:not(.comment):after{
//   content:';';
//   color:#eee;
//   // margin-left: 2px;
//   // position: absolute;
//   margin-left: 1px;
// }
// .prop-val + *{
//   opacity: 0;
//   font-weight: normal;
// }
// .propval-item input[type=checkbox]:checked ~ .prop-val:focus{
//   resize:vertical;
//   overflow-y:auto;
// }
// === END ObjectCrud ===

// === MonacoIde ===
// .q-monaco-ide {
// 	width: 100%;
// }

// .ide-nav {
// 	padding: 0 .5rem;// .25rem .5rem
// }

// .btnAddFileDiff{
// 	text-align: left;
// 	max-width: 200px;
// 	white-space: nowrap;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// }

// Drop Over Indicator (OPTION)
// .original-in-monaco-diff-editor.dragOver:before
// .q-monaco-ide .dragOver:before{
//   content: "DROP HERE";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 9;
//   pointer-events: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   background-color: rgba(255,255,255,.2);
//   color:#fff;
//   font-weight: 700;
//   font-size: 1.5rem;
//   pointer-events:none;
// }
// .vs-dark:before{

// }

// === END MonacoIde ===

// === PackageManager ===
// .package-manager .github-md{
// 	overflow-y: auto;
// }

// .package-manager .tree-q .nav-link:not(:hover):not(:focus)
// .package-manager .tree-q .nav-link{
//   color:#eee;
// }

// .logo-start{
// 	display: flex;
//   flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	width: 100%;
// 	height: 100%;
// }

// .package-list{
// 	// height: calc(100vh - 130px);
// 	overflow-x: hidden;
// }
// .package-list > .nav-item{
// 	// padding:0 5px 0 0;
// 	color: #fff;
// 	// width: 100%;
//   // position:relative;
//   border-radius: 0;
// 	user-select: none;
// }
// .package-list > .nav-item + .nav-item{
//   border-top:1px solid #999;
// }
// .package-list > .nav-item:not(.active):hover{
// 	background-color: rgba(0,0,0,.2);
// }
// .package-list > .nav-item:not(.active):active{
// 	background-color: rgba(23, 162, 184, 0.5);// rgba(0,0,0,.2)
// }

// === Github Markdown Style (FROM GITHUB css style) ===
// .github-md{
//   padding: 8px 16px;
//   line-height: 1.25;
// }

// .github-md h1{
//   font-size: 2em;
// }
// .github-md h2 {
//   font-size: 1.5em;
// }
// .github-md h3 {
//   font-size: 1.25em;
// }
// .github-md h4 {
//   font-size: 1em;
// }
// .github-md h5 {
//   font-size: .875em;
// }
// .github-md h6 {
//   font-size: .85em;
//   // color: #6a737d;
// }

// .github-md img{
//   max-width: 100%;
//   height: auto;
// }

// .github-md pre {
//   padding: 16px;
//   overflow: auto;
//   font-size: 85%;
//   line-height: 1.45;
//   background-color: #f6f8fa;
//   border-radius: 3px;
// }

// .github-md ol,
// .github-md ul {
//   padding-left: 2em;
// }

// .github-md li {
//   word-break: break-all;
// }

// .github-md blockquote {
//   padding: 0 1em;
//   color: #6a737d;
//   border-left: .25em solid #dfe2e5;
// }

// .github-md table {
//   display: block;
//   width: 100%;
//   overflow: auto;
// }
// .github-md table tr {
//   background-color: #fff;
//   border-top: 1px solid #c6cbd1;
// }
// .github-md table td,
// .github-md table th {
//   padding: 6px 13px;
//   border: 1px solid #dfe2e5;
// }
// .github-md table th {
//   font-weight: 600;
// }

// === END NpmBrowser ===

// === DEV - Tree with <details> ===
// details {
    // padding: .5em .5em 0;
// }
// .tree-q{
//   // font-size:80%;
//   outline:none !important;
//   // display: inline-flex;
//   // align-self: baseline;
// }
// .tree-q > summary {
//   outline:none !important;
//   display: inline-block;
//   font-weight: 600;
//   user-select:none;
//   list-style: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

// .tree-q > summary::-webkit-details-marker {
//   display: none;
// }

// details > summary:first-of-type, 
// details > summary:-moz-native-anonymous{
  
// }

// .tree-q > summary:not([class*=q-]):before{
//   content:"\e935";
//   margin-right:5px;
//   font-weight:600;
// }
// .tree-q[open] > summary:not([class*=q-]):before{
//   content:"\e936";
// }
// .tree-q[disabled]{
//   cursor:not-allowed;
// }

// .tree-q[disabled] > summary{
//   pointer-events:none;
//   opacity:0.75;
// }

// .tree-q[open] > summary{
//   display: inline-block;
// }

// .tree-q .nav-link{
//   padding:.2rem .5rem;
//   width: fit-content;
//   position:relative;
//   // white-space:nowrap;
//   // overflow:hidden;
//   // text-overflow:ellipsis;
//   // border-top:1px solid transparent;
// }
// .tree-q:not(.tree-collapse) > summary ~ *{
//   // display: flex;
//   // flex-direction: column;
//   // align-items: baseline;
//   display: inline-flex;
//   flex-direction: column;
//   margin-left: 1.3rem;
// }

// .tree-collapse > [role="group"]{
//   display: block;
//   margin-left: 0;
// }

// .tree-q[open] > summary ~ *{
//   margin-bottom:0;
//   margin-left: 1.3rem;
// }

// .tree-q > [role="group"]{
//   padding-left:0;
// }

// .one-file,
// .tree-q > [role="group"] > .dropdown,
// .tree-q:not(.tree-collapse) > [role="group"] > .nav-link{
//   width: fit-content;
//   max-width: 100%;
//   // white-space:nowrap;
//   // overflow:hidden;
//   // text-overflow:ellipsis;
//   border:1px solid transparent;
// }

// .one-file{
//   // width:100%;
//   position:relative;
// }

// .tree-collapse .nav-link,
// .tree-collapse  > [role="group"] > *{
//   width:100%;
// }

// .tree-q > [role="group"] > .nav-link.over
// .tree-q .nav-link:hover{
//   border-color:blue;
//   color:rgba(0,0,0,.5);
// }

// .one-file:hover,
// .tree-q .nav-link:hover{
//   background-color:#cee6fd;
// }
// .one-file:focus,
// .one-file:active,
// .tree-q .nav-link:focus,
// .tree-q .nav-link:active{
//   background-color:#cee6fd;
// }

// .one-file:active,
// .tree-q .nav-link:active{
//   user-select:none;
// }

// .dark .one-file:hover,
// .tree-q.dark .nav-link:hover{
//   background-color:rgba(0,0,0,.4);
// }

// .dark .one-file:focus,
// .dark .one-file:active,
// .tree-q.dark .nav-link:focus,
// .tree-q.dark .nav-link:active{
//   color:#fff;// #000
//   background-color:rgba(0,0,0,.7);
// }

// .one-file:not(.open):active,
// .tree-q .nav-link:not(.open):active{
//   box-shadow:0 0 0 1px rgba(38,143,255,0.5);
// }

// .tree-q .nav-link.open{
//   background-color:#eee;
//   cursor:auto;
// }

// .tree-q .nav-link.q:before{
//   margin-right: .5rem;
// }

// === END DEV - Tree with <details> ===

// === Drop on focus input (DEV OPTION) ===
// .focus-drop:focus{
//   position: relative;
// }
// .focus-drop:focus{
//   position:relative;
//   // z-index: 1022 !important;
// }
// .focus-drop + *:before{
//   content:"";
//   user-select:none;
//   pointer-events:none;
//   opacity: 0;
//   background-color:rgba(0,0,0,.7);
//   transition: opacity .25s ease-in-out;
//   // -webkit-tap-highlight-color: transparent;
// }
// .focus-drop:focus + *:before{
//   position:fixed;
//   top:0;
//   right:0;
//   bottom:0;
//   left:0;
//   width:100%;
//   height:100%;
//   opacity: 1;
//   z-index:2;
// }

// === END Drop on focus input (DEV OPTION) ===

// === Modal Dev Tool ===
// .modalDevTool .github-md{
//   min-height:50vh;
// }
// === END Modal Dev Tool ===

// === TreeQ (WITH react-dnd drop dir) ===
// .box-drop{
//   min-height:50px;
//   position:relative;
// }

// not(.active)
// .box-drop:empty:after,
// .box-drop.active:after{
//   content:attr(aria-label);
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   background-color: rgba(0,0,0,.75);
//   z-index: 2;
//   pointer-events:none;
// }

// === END TreeQ (WITH react-dnd drop dir) ===

// === AppDesigner ===
// .app-designer .aside-exp:not(.open){
//   width: 0;
//   transform:scale(0);
//   pointer-events:none;
// }

// .app-designer .aside-exp + .editor-app{
//   transition: width .2s ease-in-out;
// }

// .app-designer .aside-exp.open + .editor-app{
//   width:80%;
// }

// .app-designer .ide-nav > *:not(.scroller){
//   flex:none;
//   align-self: center;
// }
// .app-designer .ide-nav .nav-link{
//   padding-top:2px;
//   padding-bottom:2px;
//   font-size: 12px;
//   background-color:#fff;
//   user-select:none;
// }

// .tree-q.tree-files > summary ~ *{
//   display: block;
// }
// .one-file,
// .app-designer .tree-q .nav-link{
//   padding-top:1px;
//   padding-bottom:1px;
//   width: 100% !important;
// }
// .one-file,
// .tree-q.tree-files > [role="group"] > .nav-link{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
// .app-designer .right-app .Resizer.horizontal{
  
// }

// .app-view{
  
// }
// .app-designer .treeItem .itemTool{
//   display:none;
//   align-items:center;
//   padding-left: 5px;
//   background-color: rgba(0,0,0,.7);
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;
// }
// .light .treeItem .itemTool{
//   background-color: #cee6fd;// rgba(255,255,255,.7)
// }
// .app-designer .treeItem:hover .itemTool{
//   display:inline-flex;
// }

// === END AppDesigner ===

// === Scroller ===
// .scroller {
//   position: relative;
//   z-index: 2;
//   // height: 2.75rem;
//   overflow-y: hidden;
// }
// .scroller .nav {
//   // display: -ms-flexbox;
//   // display: flex;
//   -ms-flex-wrap: nowrap;
//   flex-wrap: nowrap;
//   // padding-bottom: 1rem;
//   // margin-top: -1px;
//   overflow-x: auto;
//   text-align: center;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch;
// }
// === END Scroller ===

// == <Lists> ==
// .q-lists, 
// .q-lists > li {
//   display: flex;
//   align-items: center;
// }

// .q-lists {
//   flex-wrap: wrap;
//   margin: 0;
//   cursor: default;
//   padding: 0;
//   list-style: none;
// }

// .q-list, 
// .q-list-current, 
// .q-lists-collapsed {
//   display: inline-block;
//   font-size: 16px;
// }

// .q-list-current {
//   color: inherit;
//   font-weight: 500;
// }

// .q-list, 
// .q-lists-collapsed {
//   color: #5c7080;
// }

// .q-lists-collapsed {
//   margin-right: 2px;
//   border: none;
//   border-radius: 3px;
//   background: #ced9e0;
//   cursor: pointer;
//   padding: 1px 5px;
//   vertical-align: text-bottom;
// }
// .q-lists-collapsed:before {
//   display: block;
//   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%235C7080'%3E%3Ccircle cx='2' cy='8.03' r='2'/%3E%3Ccircle cx='14' cy='8.03' r='2'/%3E%3Ccircle cx='8' cy='8.03' r='2'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat;
//   width: 16px;
//   height: 16px;
//   content: "";
// }
// .q-lists-collapsed:hover {
//   background: #bfccd6;
//   text-decoration: none;
//   color: #182026;
// }

// .q-list-overflow {
//   display: flex;
//   flex-wrap: nowrap;
//   min-width: 0;
//   white-space: nowrap;
// }

// .q-list-overflow-spacer {
//   flex-shrink: 1;
//   width: 1px;
// }

// // ORI = bp3-menu
// .q-menu{
//   margin: 0;
//   border-radius: 3px;
//   background: #fff;
//   min-width: 180px;
//   padding: 5px;
//   list-style: none;
//   text-align: left;
//   color: #182026;

//   // max-height:calc(50vh - 55px);
//   // overflow-y:auto;
// }

// // .bp3-submenu
// .q-submenu{

// }

// // == Doc App == 
// .docApp{
//   // justify-content:flex-end;// OPTION
//   position:fixed;
//   bottom:0;
//   left:0;
//   right:0;
//   width:100%;
//   padding:0 1rem;
//   z-index:9;
//   pointer-events:none;
// }
// .docApp *{
//   pointer-events:auto;
// }

// .docApp > li + li{
//   margin-left:9px;// right
// }
// // .docApp > li .bp3-breadcrumb,// DEV (MUST remove .bp3-breadcrumb in Component)
// .docApp > li .q-list{
//   display:flex;
//   align-items:stretch;
//   padding:0;// 0.25rem 0.75rem
//   width:150px;
//   font-size:85%;
//   border:1px solid #ccc;
//   border-bottom:0;
//   // overflow:hidden;
//   // white-space:nowrap;
//   // text-overflow:ellipsis;
//   box-shadow:0 -1px 4px rgba(0, 0, 0, 0.15);
// }
// // .docApp > li .bp3-breadcrumb > div:first-child,// DEV (MUST remove .bp3-breadcrumb in Component)
// .docApp > li .q-list > div:first-child{
//   flex:auto;
//   padding:0 .5rem;
//   overflow:hidden;
//   white-space:nowrap;
//   text-overflow:ellipsis;
// }
// // .docApp > li .bp3-breadcrumb:not(:hover),// DEV (MUST remove .bp3-breadcrumb in Component)
// .docApp > li .q-list:not(:hover){
//   background-color:#fff;
// }

// .docApp > li .q-lists-collapsed{
//   // margin-bottom:9px;
//   // margin-right:0;
//   vertical-align:top;
// }

// .docApp .q-list .btn{
//   border-width:0 1px;
//   border-radius:0;
// }
// .docApp .q-list .btn:last-child{
//   border-right:0;
// }

// === FileDrop ===
// .drop-file > input[tabindex="-1"]{
//   display: none;
// }
// .drop-file.active{
//   border-color:red;
// }
// === END FileDrop ===

// Google Translate :D
// #gtx-trans{
//   display: none !important;
// }

// === iframe <Browser /> ===
// .iframe-app{
//   border:0;
//   width:100%;
//   height:100%;
//   // FROM codesandbox
//   min-height: 0;
//   overflow: auto;

//   opacity: 1;
//   z-index: 1;
//   pointer-events: initial;
// }

// DocApp
// .doc-box{
//   position:fixed;
//   right:0;
//   bottom:0;
//   width: calc(100% - 200px);
//   z-index: 1001;
//   pointer-events: none;
// }

// .doc-app{
//   align-items:flex-end;
//   height: auto;
//   width: 100%;
//   padding:0 15px;
//   white-space: nowrap;
// }

// .doc-app *:not([disabled]):not(.disabled){
//   pointer-events: auto;
// }

// .doc-app > li + li{
//   margin-left:9px;
// }

// .doc-app > li > *{
//   flex-direction: column;
//   width:200px;
//   // padding: 4px 9px;
//   // box-shadow: 0 0 0 1px rgba(0,0,0,.4);
//   background-color: #fff;
//   border:1px solid #ccc;
//   border-bottom:0;
//   // box-shadow: 0 -0.125rem 0.2rem rgba(0,0,0,.075);
//   box-shadow:0 -1px 4px rgba(0,0,0,.15);
// }
// // .doc-app > li > *:not([disabled]):not(.disabled){
// //   cursor: pointer;
// // }
// .doc-app > li > *:focus .doc-head,
// .doc-app > li > *:focus-within .doc-head{
//   background-color: var(--blue);
//   color:#fff;
// }

// .doc-app > li .doc-head{
//   width:200px;
//   padding: 4px 9px;
// }

// // .doc-app > li > * > div
// .doc-app > li > * .doc-label{
//   // width:95px;
//   flex:auto;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// .doc-pop .q-pop-box{
//   max-height: 250px;
//   overflow:hidden auto;
//   overscroll-behavior-y: contain;
// }

// // .doc-app .doc-el{
// //   width:167px;
// // }
// .doc-app .doc-el > .q-scroll{ // show
//   height:200px;
//   overflow: hidden auto;
//   white-space: normal;
//   // background-color:#fff;
// }

// // DocsApp
// .docs-app{
//   // border:2px solid #ddd;
//   box-shadow:0 0 0 2px #ddd;// rgba(0,0,0,.2)
// }
// .view-app{
//   width:100%;
//   height:100%;
//   border-top:2px solid #ddd;
// }

// //
// ul.ascii{
//   font-family: monospace;
//   font-size: 1rem;// initial , 1em
//   line-height: 1.2;// 1.1
// }

// ul.ascii,
// ul.ascii ul {
//   margin-left: 0;
//   padding-left: 0;
//   list-style: none;
// }

// ul.ascii ul{
//   margin-top:2px;
//   margin-bottom:2px;
// }

// ul.ascii li {
//   margin: 0;
//   padding: 0;
// }

// /* level 1 */
// ul.ascii > li::before {
//   content: "";
// }

// /* level 2 */
// ul.ascii > li > ul > li::before {
//   content: "├──\00a0";
// }

// ul.ascii > li > ul > li:last-child::before {
//   content: "└──\00a0";
// }

// /* level 3 */
// ul.ascii > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0└──\00a0";
// }

// /* level 4 */
// ul.ascii > li > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// /* level 5 */
// ul.ascii > li > ul > li > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// /* level 6 */
// ul.ascii > li > ul > li > ul > li > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0│\00a0\00a0\00a0└──\00a0";
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0├──\00a0"
// }

// ul.ascii > li > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child::before {
//   content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0└──\00a0";
// }

// ToastQ
// .toastQ{
//   // pointer-events: none;
//   // OPTION
//   overscroll-behavior: contain;
//   // transition: background-color 0.15s linear;
//   transition-property: background-color;
//   // background-color: #000;
//   // opacity: 0;
// }

// .toastQ.backdrop.show{
//   background-color: rgba(0,0,0, .5);
// }

// .toastQ:not(.alertToast){
//   pointer-events: none;
// }

// .toastQ *{
//   pointer-events: auto;
// }

