// 
// Q-CUSTOM
.p-chart {
  position: relative
}

.p-datatable .p-column-resizer {
  text-align: right;// center
}
.p-datatable .p-column-resizer::after {
  content: "";
  height: 100%;
  display: inline-block;
  border-left: 1px solid #e9ecef;
}

// .p-datatable-resizable [role="columnheader"] {
//   display: flex;
//   align-items: center;// baseline
// }

// .p-datatable-thead > tr > .p-resizable-column {
//   display: flex;
//   align-items: center;// baseline
// }

// .p-column-title
.p-datatable-resizable [role="columnheader"] .p-column-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

// InputNumber
.form-control.p-inputnumber-input {
  height: auto;
}

// 
// .p-splitter-panel .p-splitter {
// 	flex-grow: 1;
// 	// border: 0 none;
// }

.p-splitter {
  border: 0;
  border-radius: 0;
}

.p-splitter-gutter-resizing::after {
	content: "";
	position: fixed;
	inset: 0;
	z-index: 1021;
}

// <Dropdown />
.q-p-select.input-sm .p-dropdown-label, 
.q-p-select-panel.input-sm .p-dropdown-filter {
  height: calc(1.5em + 0.5rem + 2px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.q-p-select-panel.sticky-head .p-dropdown-items .p-dropdown-item-group {
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border: solid #dee2e6;
  border-width: 1px 0;
  // border-bottom: 1px solid #dee2e6;
}


