// CheckRadioGroupQ & CheckRadioQ:
[role="radiogroup"] {
  padding: 0;
  margin: 0;
  list-style: none;
}

// [role="radiogroup"]:focus {
//   outline: none;
// }

// Checkbox & Radio:
[role="checkbox"], 
[role="radio"] {
  display: inline-block;
  // .125em .5em .125em 1.5em
  padding: .125em .5em .125em 1.7rem;
  // padding-left: 1.5em;
  // padding-right: 0.5em;
  // border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  cursor: pointer; // default
  // outline: none;
  user-select: none; // OPTION
}

// Q-CUSTOM:
// OPTION FOR disabled state
[role="checkbox"][aria-disabled], 
[role="radio"][aria-disabled] {
  // pointer-events: none;
  opacity: .65;
  cursor: not-allowed;
  touch-action: none; // OPTION
}

// [role="radio"][aria-disabled="true"]{
//   opacity: .65;
// }

// [role="radio"] + [role="radio"] {
//   margin-left: 1em;
// }

[role="checkbox"]::before,
[role="checkbox"]::after, 
[role="radio"]::before,
[role="radio"]::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-20%, -50%);
  content: '';
}

[role="checkbox"]::before, 
[role="radio"]::before {
  width: 14px;
  height: 14px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: .25rem; // 50%; | 100%
  background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 60%);
}

[role="radio"]::before {
  border-radius: 50%;
}

[role="checkbox"]:not([aria-disabled]):active::before, 
[role="radio"]:not([aria-disabled]):active::before {
  background-image: linear-gradient(to bottom, hsl(300, 3%, 73%), hsl(300, 3%, 93%));
}

[role="checkbox"][aria-checked="mixed"]::before, 
// [role="checkbox"][aria-checked="true"]:not([aria-disabled])::before, 
[role="checkbox"][aria-checked="true"]::before, 
[role="radio"][aria-checked="true"]::before {
  border-color: hsl(216, 80%, 50%);
  background: hsl(217, 95%, 68%);
  background-image: linear-gradient(to bottom, hsl(217, 95%, 68%), hsl(216, 80%, 57%));
}

[role="checkbox"][aria-checked="mixed"]::after, 
[role="checkbox"][aria-checked="true"]::after, 
[role="radio"][aria-checked="true"]::after {
  display: block;
  border-radius: .25rem;
  transform: translate(25%, -50%);
}

[role="radio"][aria-checked="true"]::after {
  border: 0.1875em solid #fff;
  border-radius: 50%; // 100%
}

[role="radio"][aria-checked="mixed"]:active::before, // ???
[role="radio"][aria-checked="true"]:active::before {
  background-image: linear-gradient(to bottom, hsl(216, 80%, 57%), hsl(217, 95%, 68%) 60%);
}

[role="checkbox"]:not([aria-disabled]):hover::before, 
[role="radio"]:not([aria-disabled]):hover::before {
  border-color: hsl(216, 94%, 65%);
}

[role="checkbox"]:not([aria-disabled]):not(.focusBg):focus, // Q-CUSTOM
[role="checkbox"]:not([aria-disabled]):not(.focusBg).focus, 
[role="radio"]:not([aria-disabled]):not(.focusBg):focus, // Q-CUSTOM
[role="radio"]:not([aria-disabled]):not(.focusBg).focus {
  // border-color: hsl(216, 94%, 73%);
  box-shadow: 0 0 0 0.12rem rgba(38, 143, 255, .5) inset;
  background-color: hsl(216, 80%, 97%);
}

[role="checkbox"]:not([aria-disabled]):not(.focusBg):hover, 
[role="radio"]:not([aria-disabled]):not(.focusBg):hover, 
[role="checkbox"]:not([aria-disabled]).focusBg:focus, 
[role="radio"]:not([aria-disabled]).focusBg.focus {
  background-color: hsl(216, 80%, 92%);
}

// Checkbox:
[role="checkbox"][aria-checked="mixed"]::after, 
[role="checkbox"][aria-checked="true"]::after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 600; //  !important
  content: "\f00c";
  font-size: 9px;
  color: #fff;
  transform: translate(-1px, -7px);
  // transform: translate(0, -6px);
}

[role="checkbox"][aria-checked="mixed"]::after {
  content: "\f068";
  left: 8px;
}

// OPTION: For Bootstrap invalid-feedback
// [role="checkbox"][aria-invalid="true"] ~ .invalid-feedback, 
// [role="radio"][aria-invalid="true"] ~ .invalid-feedback {
//   display: block;
// }
