/* FOR Desktop or laptop */

// FROM: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
/* ----------- Non-Retina Screens ----------- */
// @media screen 
//   and (min-device-width: 1200px) 
//   and (max-device-width: 1600px) 
//   and (-webkit-min-device-pixel-ratio: 1) { 
// }

// /* ----------- Retina Screens ----------- */
// @media screen 
//   and (min-device-width: 1200px) 
//   and (max-device-width: 1600px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) { 
// }

@media (min-width: 1200px){ // only screen and (min-width: 768px) | 992px
	/*html,
	body,
	#root {
		height: auto; //  !important
		// OPTION: FOR "bounce" effects or refreshes
		// https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
		overscroll-behavior: none; // contain
	}*/

	// .lockScroll{
	// 	overflow:hidden !important;
	// }

	// Sizing:
	// w = width, t = tablet, l = landscape
	// .w-t-l-35 {
	// 	width: 35%;// !important;
	// }

	// Spacing:
	.ml-1-next-lg > * + *{
		margin-left: .25rem;
	}

	.ml-2-next-lg > * + *{
		margin-left: .5rem;
	}

	// Position:
	.absolute-lg {
		position: absolute;
	}
	
	.tb-resizer:hover {
		// border-right: 2px solid var(--blue);
		border-right-color: var(--blue);
	}

}/* END FOR Desktop or laptop */