/* FOR Smartphone Portrait Only */
@media screen and (max-width: 480px){
	// Sizing:
	// w = width, p = phone, p = portrait
	// {property}-{phone}{portrait}-{size}
	// .w-p-p-100
	.w-pp-100 {
		width: 100% !important;
	}
	
	// Spasing:
	// {property}-{tablet}{landscape}-{size}-{action}
	.mb-pp-2 {
		margin-bottom: 0.5rem !important;
	}

	.mb-pp-3 {
		margin-bottom: 1rem !important;
	}

	// Flex:
	// flex-{property}-{tablet}{landscape}-{size}
	.flex-grow-pp-1 {
		flex-grow: 1 !important;
	}
}
/* END FOR Smartphone Potrait Only */