/* FOR Tablet Landscape */
@media (max-width: 1199px) and (min-width: 992px){
	/*html,
	body,
	#root {
		height: auto; //  !important
		// OPTION: FOR "bounce" effects or refreshes
		// https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
		overscroll-behavior: none; // contain
	}*/

	// .lockScroll{
	// 	overflow:hidden !important;
	// }

	// Sizing:
	// w = width, t = tablet, l = landscape

	// .w-t-l-35
	.w-tl-35 {
		width: 35% !important;
	}

	.tb-resizer {
    border-right-color: #dee2e6;
  }
	
	// Spasing:
	// {property}-{tablet}{landscape}-{size}-{action}
	// .ml-tl-1-next  > * + * {
	// 	margin-left: .25rem;
	// }

}
/* END FOR Tablet Landscape */