ul.jqtree-tree {
	list-style: none outside;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0;
}

ul.jqtree-tree.jqtree-dnd {
	touch-action: none;
}

ul.jqtree-tree ul.jqtree_common {
	list-style: none outside;
	margin-left: 12px;// 
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	display: block;
}

ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
	display: none;
}

ul.jqtree-tree li.jqtree_common {
	clear: both;
	list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
	border-bottom: none;
	color: #333;
	text-decoration: none;
	vertical-align: middle;
}

ul.jqtree-tree .jqtree-toggler:hover {
	color: #000;
	text-decoration: none;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
	background-position: 0 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
	margin-right: .5em;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
	margin-left: .5em;
}

ul.jqtree-tree .jqtree-element {
	cursor: pointer;
	position: relative;
	display: flex;
}

ul.jqtree-tree .jqtree-title {
	color: #1c4257;
	vertical-align: middle;
	margin-left: .5em;// 1.5em
	// Q-CUSTOM
	display: inline-flex;
	align-items: center;
}

ul.jqtree-tree .jqtree-title.jqtree-title-folder {
	margin-left: 0;
}

/* Q-EDIT */
/* ul.jqtree-tree li.jqtree-folder { */
	/* margin-bottom: 4px; */
/* } */

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
	margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-ghost {
	position: relative;
	z-index: 10;
	margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
	display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
	border: solid 2px #0000ff;
	border-radius: 100px;
	height: 8px;
	width: 8px;
	position: absolute;
	top: -4px;
	left: -6px;
	box-sizing: border-box;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
	background-color: #0000ff;
	height: 2px;
	padding: 0;
	position: absolute;
	top: -1px;
	left: 2px;
	width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
	margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
	position: absolute;
	display: block;
	left: -2px;
	top: 0;
	border: solid 2px #0000ff;
	border-radius: 6px;
	margin: 0;
	box-sizing: content-box;
}

/* Q-CUSTOM */
ul.jqtree-tree li > .jqtree-element:hover {
	background-color: #e6f5ff;/* #e3f2fd */
}

/* ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover, */
ul.jqtree-tree li.jqtree-selected > .jqtree-element {
	background-color: #cee6fd;/* #97bdd6 */
	box-shadow: inset 0 0 0 1px rgb(38 143 255 / 50%);
	/* background: linear-gradient(#bee0f5, #89afca) */
	/* text-shadow: 0 1px 0 rgba(255, 255, 255, .7); */
}

ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
	outline: dashed 1px #0000ff;
}

ul.jqtree-tree.jqtree-rtl {
	direction: rtl;
}

ul.jqtree-tree.jqtree-rtl ul.jqtree_common {
	margin-left: 0;
	margin-right: 12px;
}

ul.jqtree-tree.jqtree-rtl .jqtree-toggler {
	margin-left: .5em;
	margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title {
	margin-left: 0;
	margin-right: 1.5em;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title.jqtree-title-folder {
	margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost {
	margin-right: 0;
	margin-left: 10px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-circle {
	right: -6px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-line {
	right: 2px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost.jqtree-inside {
	margin-left: 0;
	margin-right: 48px;
}

ul.jqtree-tree.jqtree-rtl span.jqtree-border {
	right: -2px;
}

span.jqtree-dragging {
	color: #fff;
	background: #000;
	opacity: 0.6;
	cursor: pointer;
	padding: 2px 8px;
}

/* Q-CUSTOM */
.q-jqtree {
	overflow: hidden auto;
}

/* .jqtree-folder ul .jqtree-folder .jqtree-toggler  */
// .empty-dir > .qi-folder, 
ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
	margin-left: .5rem; // 1.3em
}

.empty-dir > .qi-folder {
	margin-left: .5rem !important;
}

ul.jqtree-tree .jqtree-element {
	align-items: center;
	height: 30px;
	margin-bottom: 2px;
}
ul.jqtree-tree .jqtree-title {
	flex: 1;
	font-size: .875rem;
}

// .tree-tools {
// 	display: none;
// 	flex: none;
// }
.jqtree-title ~ .btn {
	display: none;
	border: 0;
}

/* .editing ~ .tree-edit,  */
/* .editing ~ .tree-del { */
	/* display: none !important; */
/* } */

/* .jqtree-element:hover .jqtree-title:not(.editing) ~ .tree-tools,  */
/* .jqtree-element:hover .jqtree-title:not(.editing) ~ .tree-add-folder, */
/* .jqtree-element:hover .jqtree-title:not(.editing) ~ .tree-add-file,  */
/* .jqtree-element:hover .jqtree-title:not(.editing) ~ .tree-edit, */
/* .jqtree-element:hover .jqtree-title:not(.editing) ~ .tree-del  */
.jqtree-element:hover .jqtree-title:not(.editing) ~ .btn { // .tree-tools
	// display: flex !important;// inline-block
	display: inline-block;
}

.jqtree-toggler .qi:before {
	font-size: .875rem;
}

// .empty-folder:before 
// .jqtree-toggler + .qi-folder:before {
// 	content: none;
// }

.empty-dir > .jqtree-toggler {
	display: none;
}

// .q-jqtree > ul:empty:before {

// }

.q-jqtree > .empty-dirs {
	height: 100%;
	padding-top: 1rem;
	text-align: center;
	color: #777;
}







































