// Qicon extends
.qi-pptx:before {
  content:"\e97b"
}

.qi-xlsx:before {
  content:"\e97e"
}

.qi-docx:before {
  content:"\e97f"
}

.qi-gitattributes:before, 
.qi-gitignore:before {
  content:"\e976"
}

.qi-rb:before {
  content:"\e975"
}

.qi-py:before {
  content:"\e974"
}

.qi-markdown:before {
  content:"\e96b"
}

.qi-rar:before,
.qi-tar:before {
  content:"\e901"
}

.qi-tsx:before {
  content:"\e910"
}

.qi-scss:before {
  content:"\e919"
}

.qi-jsx:before {
  content:"\e91c"
}

.qi-mjs:before {
  content:"\e92b"
}

.qi-svg:before,
.qi-jpg:before, 
.qi-png:before, 
.qi-ico:before {
  content:"\e930"
}

.qi-txt:before {
  content:"\e941"
}

.qi-htm:before, 
.qi-xml:before {
  content:"\e950"
}

// == ICONS: ==
// .i-lg::before {
//   font-size: 1.33333em;
//   line-height: 0.75em;
//   vertical-align: -.0667em
// }
// .i-xs::before {
//   font-size: .75em
// }
// .i-sm::before {
//   font-size: .875em
// }
// .i-1x::before {
//   font-size: 1em
// }

.qi-2x::before {
  font-size: 2em;
}
.qi-3x::before {
  font-size: 3em;
}
// .i-4x::before {
//   font-size: 4em
// }
// .i-5x::before {
//   font-size: 5em
// }
// .i-6x::before {
//   font-size: 6em
// }
.qi-7x::before {
  font-size: 7em;
}
// .i-8x::before {
//   font-size: 8em
// }
.qi-9x::before {
  font-size: 9em
}
// .i-10x::before {
//   font-size: 10em
// }

.q-s11:before {
  transform: scale(1.1);
}

.qi-php:before, // Equal size set
// .q-mysql:before, 
.qi-ts:before, 
.qi-tsx:before, 
.qi-less:before, 
.q-s12:before {
  transform: scale(1.2);
}

.q-s13:before {
  transform: scale(1.3);
}

// .q-s14:before {
//   transform: scale(1.4);
// }
// USED IN IconPicker (Preview icon onHover)
.q-s22:before {
  transform: scale(2.2);
}

.q-3:before {
  font-size: 3rem;
}

/* == Q-CUSTOM FOR <Details /> or Tree component == */
// .detail-q summary:before,// detail-q.tree-q summary:before
// .detail-q .nav-link.q:before,// .tree-q .nav-link.q:before

.q-fw:before {
  text-align: center;
  width: 1.25em;
}

.qi-block:before {
  display: block;
}

// .toast-header.q:not(:empty):before,
.q-mr:not(:empty):before, 
// .form-text::before,
// .btn.fa:not(:empty):not([aria-haspopup]):not(.kidHide):before,
// .btn[class*="fa-"]:not(:empty):not([aria-haspopup]):not(.btnFile):before, 
.btn[class*="qi-"]:not(:empty):not([aria-haspopup]):not(.btnFile):not(.btn-app):before, 
.dropdown-item[class*="qi-"]:not(:empty):before,
.dropdown-item[class*="fa-"]:not(:empty):before
// .detail-q .nav-link.q:before
{
  margin-right: .5rem;
}

.q-mb:not(:empty):before {
  margin-bottom: .5rem;
}

.q-ml:not(:empty):after {
  margin-left: .5rem;
}

// [role="checkbox"][aria-checked="true"]::after, 
// .faa:after {
//   font-family: 'Font Awesome 5 Pro';
//   // font-weight: 300;
// }

// .q-ctxmenu .e-menu-icon:before, 
// .e-list-icon:before, 
.qia:after {
  font-family: Qicon !important;// 'q-icon'
}

// Synfusion TreeView
// .e-list-icon.folder:before {
//   content: "\E93A";
// }

.qia-ml-auto:after {
  margin-left: auto;
}

// .qia-close:after {
//   content: "\E950";
// }

.qia-chevron-right:after {
  content: "\e955";// e954
}

.qia-chevron-down:after {
  content: "\e956";// e955
}

// .faa-chevron-right:after {
//   content: "\F054";
// }

// .modal-header.q:before{
//   align-self: center;
//   margin-right: .5rem;
// }

// === EXTENDS ICONS ===
// .q-markdown:before{
//   content:"\e90e";
// }
// .q-scss:before{
//   content:"\e903";
// }
// .q-noExt:before,
// [role="treeitem"] .q-map:before{
//   content:"\e949";
// }
// .sidebar .q-detail[open] summary:after{
//   content:"\e962";
// }
// .sidebar .q-detail summary:after{
//   content:"\e963";
// }

// .q-s12-r90:before{
// 	transform: scale(1.2) rotate(90deg);
// 	// transform: rotate(90deg);
// }

.show .v-btn-set:before, // PlayerQ
.i-r90:before {
	transform: rotate(90deg);
}

// === ICONS COLOR ===
// .i-blue::before {
//   color: #007bff;
// }

.qi-facebook.i-color:before {
  color: #0f92f3;
}
.qi-instagram.i-color:before {
  color: #ca3d7a;
}
.qi-youtube.i-color:before {
  color: #f70000;
}

.i-orange:before {
  color: var(--orange);
}

.qi-html.i-color:before {
  color: #e44d26;// #f16529
}
.qi-mjs.i-color:before, 
.qi-js.i-color::before {
  color: #ffca28;// #f5de19
}
.qi-css.i-color:before {
  color: #42a5f5;// #1b83be
}
.qi-php.i-color:before{
  color:#777bb3;
}
.qi-sass.i-color:before,
.qi-scss.i-color:before{
  color: #cf649a;
}
.qi-ts.i-color:before, 
.qi-tsx.i-color:before {
  color: #3f78c8;
}
.qi-markdown.i-color:before, 
.qi-md.i-color:before {
  color: #94c6f6;
}
.qi-react.i-color:before,
.qi-jsx.i-color:before {
  color:#61dafb;
}
.qi-ruby.i-color:before, 
.qi-rb.i-color:before {
  color: #a61601;
}
.qi-less.i-color:before {
  color: #294e83;
}
.qi-gitattributes.i-color:before, 
.qi-gitignore.i-color:before, 
.qi-git.i-color:before {
  color: #f05133;
}

// .q-bootstrap.q-color:before{
//   color: #563D7C;
// }
// .q-jquery.q-color:before {
//   color: #78CFF5;
// }
// .q-vue.q-color:before{
//   color: #3FB984;
// }
// .q-nodejs.q-color:before {
//   color: #68A063;
// }
// .q-codeigniter.q-color:before {
//   color: #ee4323;
// }
// .q-laravel.q-color:before {
//   color: #FB503B;
// }
// .q-mysql.q-color:before{
//   color: #00678c;
// }
// === END ICONS COLOR ===

// === ICONS Bg & CUSTOM ===
// .q-package:before,
// .q-jsdelivr:before,
// .q-svg-spin:before{
//   content:"";
//   background: transparent no-repeat center;
//   background-size: contain;
//   vertical-align: middle;
// }

// .q-jsdelivr:before{
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3E%3Cg transform='matrix(1.6 0 0 1.6 -7.44 -8)'%3E%3Cpath d='M24.4 5l-3.7 13.2v13.4L24.4 45l3.9-13.4V18.2z' fill='%23bc473a'/%3E%3Cpath d='M24.4 5L6 11.7l2.6 24.5L24.4 45' fill='%23e84d3d'/%3E%3Cpath d='M24.4 45l16-8.8 2.9-24.6L24.4 5' fill='%23bc473a'/%3E%3Cpath d='M21.1 34.7c-1.8-.6-3.4-1.6-4.7-2.9l-.5-.5c-1-1.2-1.8-2.6-2.2-4.1.3.3.6.5 1 .8l1.5.9c.2.1.3.2.5.2.2.1.4.2.7.2h.1c.1.9.8 1.6 1.7 1.8.3 1.5.9 2.7 1.9 3.6zm.7-15.9c0 .4.1.8.3 1.1-1.5 2.1-2.5 4.4-3 6.6 0 .3-.1.5-.1.7-.5.1-.9.5-1.2.9h-.1c-.2-.1-.3-.1-.5-.2s-.5-.2-.7-.3c-.8-.4-1.5-.9-2.1-1.6l-.5-.5c0-.1-.1-.1-.1-.2l-.1-.1v-.1s0-.1-.1-.1v-.1c-.1-.1-.1-.2-.2-.3v-.7a11.23 11.23 0 0 1 1.8-6.1c.1-.2.3-.4.4-.6s.3-.4.4-.6c1.4-1.6 3.1-2.8 5.2-3.4 0 .2.1.4.1.7.2 1.2.6 2.3 1.1 3.5-.4.4-.6.8-.6 1.4zm-1.2 10.4c0 .3-.1.5-.3.7l-.1.1c-.2.2-.4.3-.7.3-.2 0-.4-.1-.6-.2s-.3-.3-.4-.5c-.1-.1-.1-.3-.1-.5 0-.3.1-.6.3-.8l.1-.1c.2-.1.4-.2.6-.2s.5.1.7.2l.3.3c.1.3.2.5.2.7zm4.3-10.4c0 .2 0 .3-.1.5a1 1 0 0 1-1 .6h-.2c-.5-.1-.8-.4-.9-.9v-.2c0-.1 0-.2.1-.4.1-.4.6-.7 1-.7.5 0 .9.3 1 .8.1 0 .1.1.1.3z' fill='%23fdc72e'/%3E%3Cpath d='M35.7 24c0 1.1-.2 2.1-.4 3.1-1-.3-1.9-.6-2.9-1.1v-.4c0-.3-.1-.5-.2-.8l.1-.1c1.1-1.2 2.1-2.5 2.9-3.9.3 1.1.5 2.1.5 3.2zm-1.1-4.8c-.1.2-.2.3-.2.5-.8 1.5-1.7 2.9-3 4.1-.3-.2-.7-.3-1.1-.3-.5 0-.9.1-1.2.4l-1.8-1.6c-.7-.7-1.4-1.5-2-2.3.3-.4.5-.8.5-1.3a1.69 1.69 0 0 0-.3-1c1.5-1.4 3.1-2.5 4.7-3.3 2 1.1 3.5 2.8 4.4 4.8zm-3.2 6.4c0 .5-.3.8-.7 1-.1.1-.3.1-.4.1h-.2c-.5-.1-.8-.5-.9-1 0-.5.3-.9.7-1 .1 0 .2-.1.4-.1h.3c.5.1.8.5.8 1 0-.1 0 0 0 0zm.3 1.5c-.4.3-.8.5-1.4.5-.4 0-.8-.1-1.1-.3l-.1.1c-1.5.9-3 1.6-4.6 2v5.8c4.7 0 8.7-2.8 10.4-6.9-1.1-.3-2.2-.7-3.2-1.2z' fill='%23e09b00'/%3E%3Cpath d='M24.4 29.4c-1 .2-1.9.4-2.9.4h-.2c-.2.5-.5.9-1 1.1.3 1.1.8 2 1.6 2.8.6.6 1.4 1.1 2.3 1.4h.2z' fill='%23fdc72e'/%3E%3Cpath d='M28.3 25.6c0-.2 0-.4.1-.6-.7-.5-1.3-1.1-2-1.7-.7-.7-1.4-1.5-2-2.3v7.1c1.3-.4 2.7-1 4-1.8 0-.2-.1-.5-.1-.7z' fill='%23e09b00'/%3E%3Cpath d='M24.4 21l-.2-.2c-.1 0-.3.1-.5.1-.3 0-.5-.1-.8-.1-1.4 1.9-2.3 4-2.7 6.1 0 .2-.1.4-.1.6.6.2 1 .7 1.2 1.3h.1c1 0 2-.2 2.9-.5V21z' fill='%23fdc72e'/%3E%3Cpath d='M24.4 12.7v4.1c.1 0 .1 0 .2.1a18.49 18.49 0 0 1 4.3-3.2c-1.4-.6-2.9-1-4.5-1z' fill='%23e09b00'/%3E%3Cpath d='M24.4 12.7c-.7 0-1.4.1-2.1.2 0 .2.1.5.1.7.2 1 .5 2.1 1 3.1h.4c.2 0 .4 0 .6.1z' fill='%23fdc72e'/%3E%3C/g%3E%3C/svg%3E");
//   width: 16px;
//   height: 16px;
//   position: relative;
//   top: -1px;
// }
// .q-unpkg:before,
// .q-cdnjs:before{
//   font-family: inherit !important;
//   font-weight: 700;
//   content:"U";
// }
// .q-cdnjs:before{
//   content:"<>";
// }

// .q-package:before{
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M491.729 112.971L259.261.745c-2.061-.994-4.461-.994-6.521 0L20.271 112.971c-2.592 1.251-4.239 3.876-4.239 6.754v272.549c0 2.878 1.647 5.503 4.239 6.754l232.468 112.226c1.03.497 2.146.746 3.261.746s2.23-.249 3.261-.746l232.468-112.226c2.592-1.251 4.239-3.876 4.239-6.754V119.726c0-2.88-1.648-5.503-4.239-6.755zM256 15.828l215.217 103.897-62.387 30.118c-.395-.301-.812-.579-1.27-.8L193.805 45.853 256 15.828zm-79.133 38.505l214.904 103.746-44.015 21.249L132.941 75.624l43.926-21.291zm219.932 117.974v78.546l-41.113 19.848v-78.546l41.113-19.848zm84.169 215.261L263.5 492.55V236.658l51.873-25.042c3.73-1.801 5.294-6.284 3.493-10.015-1.801-3.729-6.284-5.295-10.015-3.493L256 223.623l-20.796-10.04c-3.731-1.803-8.214-.237-10.015 3.493-1.801 3.73-.237 8.214 3.493 10.015l19.818 9.567V492.55L31.032 387.566V131.674l165.6 79.945c1.051.508 2.162.748 3.255.748 2.788 0 5.466-1.562 6.759-4.241 1.801-3.73.237-8.214-3.493-10.015l-162.37-78.386 74.505-35.968L340.582 192.52c.033.046.07.087.104.132v89.999c0 2.581 1.327 4.98 3.513 6.353 1.214.762 2.599 1.147 3.988 1.147 1.112 0 2.227-.247 3.26-.746l56.113-27.089c2.592-1.251 4.239-3.875 4.239-6.754v-90.495l69.169-33.392v255.893z'%3E%3C/path%3E%3Cpath d='M92.926 358.479L58.811 342.01c-3.732-1.803-8.214-.237-10.015 3.493-1.801 3.73-.237 8.214 3.493 10.015l34.115 16.469c1.051.508 2.162.748 3.255.748 2.788 0 5.466-1.562 6.759-4.241 1.802-3.731.238-8.213-3.492-10.015zM124.323 338.042l-65.465-31.604c-3.731-1.801-8.214-.237-10.015 3.494-1.8 3.73-.236 8.214 3.494 10.015l65.465 31.604c1.051.507 2.162.748 3.255.748 2.788 0 5.466-1.562 6.759-4.241 1.801-3.732.237-8.216-3.493-10.016z'%3E%3C/path%3E%3C/svg%3E");
//   width: 50px;
//   height: 50px;
// }

// .q-svg-spin:before{
//   // background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 44 44"%3E%3Cstyle%3E%0Asvg%7B -webkit-animation:rot 2s linear infinite; animation:rot 2s linear infinite; z-index:2%0A%7D%0Acircle%7Bfill:none;stroke-dasharray:1,150; stroke-dashoffset:0; stroke:%2317a2b8; stroke-linecap:round; -webkit-animation:dash 1.5s ease-in-out infinite; animation:dash 1.5s ease-in-out infinite%0A%7D%0A@keyframes rot%7B 100%25%7B transform:rotate(360deg) %7D%0A%7D%0A@-webkit-keyframes rotate%7B 100%25%7B -webkit-transform:rotate(360deg) %7D%0A%7D%0A@keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A@-webkit-keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A%3C/style%3E%3Ccircle cx="22" cy="22" r="20" stroke-width="4"/%3E%3C/svg%3E');
//   // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-spin' width='70' height='70' viewBox='0 0 44 44'%3E%3Cstyle%3E%0Asvg%7B -webkit-animation:rot 2s linear infinite; animation:rot 2s linear infinite; z-index:2%0A%7D%0Acircle%7B stroke-dasharray:1,150; stroke-dashoffset:0; stroke:%2317a2b8; stroke-linecap:round; -webkit-animation:dash 1.5s ease-in-out infinite; animation:dash 1.5s ease-in-out infinite%0A%7D%0A@keyframes rot%7B 100%25%7B transform:rotate(360deg) %7D%0A%7D%0A@-webkit-keyframes rotate%7B 100%25%7B -webkit-transform:rotate(360deg) %7D%0A%7D%0A@keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A@-webkit-keyframes dash%7B 0%25%7B stroke-dasharray:1,150; stroke-dashoffset:0 %7D 50%25%7B stroke-dasharray:90,150; stroke-dashoffset:-35 %7D 100%25%7B stroke-dasharray:90,150; stroke-dashoffset:-124 %7D%0A%7D%0A%3C/style%3E%3Ccircle cx='22' cy='22' r='20' fill='none' stroke-width='4'/%3E%3C/svg%3E");
//   width: 70px;
//   height: 70px;
// }

// .q-svg-spin.spin-20:before{
//   width: 20px;
//   height: 20px;
//   vertical-align: text-top;
//   transform: scale(2);
// }

// background-image: url("data:image/svg+xml,%3Csvg width='8px' height='8px' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(1.000000, 0.000000)'%3E%3Cpath d='M5,4 C5,4.55 5.45,5 6,5 C6.55,5 7,4.55 7,4 C7,3.45 6.55,3 6,3 C5.45,3 5,3.45 5,4' fill='%23BABABA'%3E%3C/path%3E%3Cpath d='M4.25,0.75 L0.75,4 L4.25,7.25' stroke='%23BABABA' stroke-width='1.5'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

// === END ICONS Bg & CUSTOM

// == END ICONS: ==
















